{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    ["react-hot-loader/babel"],
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-runtime"]
  ],
  "env": {
      "test": {
        "presets": ["es2015", "react"]
      }
  } 
}